{% extends 'skeleton/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container">
	<!-- <p>{% autoescape off %}Esto es el Proects{% endautoescape %}</p> -->
	<div class="row">
		<div class="col projects">
			<p>
				<!-- <a href="tesseract">Tesseract test</a> -->
			</p>
			<ul>
				<li>pyteseract</li>
				<li>antiguedad</li>
				<li>Lerning Management system</li>
				<li>blog</li>
			</ul>
		</div>
	</div>
</div>
{% endblock content %}

{% block result %}Home{% endblock result %}