<!DOCTYPE html>
<html lang="en">
    <head>
        <title>La cabaña</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
	    <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-SEMNLVY53E"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-SEMNLVY53E');
        </script>
    </head>
    
    <body class="bod">
        <div class="logo"><img src="{% static 'images/lacabanaft/logo.svg' %}" alt=""></div>
        <div class="logo"><img src="{% static 'images/lacabanaft/menu5cutted.jpg' %}" alt=""></div>
        <div class="title"></div>
        <div class="platillo">
            <h3>Hamburguesa hawaiana $70</h3>
            <p>Mayonesa, jitomate, cebolla, chile, piña, queso Oaxaca, queso amarillo, cátsup, mostaza, aguacate.</p>
            <h3>Hamburguesa sencilla $65</h3>
            <p>Mayonesa, cátsup, mostaza, jitomate, cebolla, chile, aguacate, queso Oaxaca, queso amarillo.</p>
            <h3>Papas a la francesa $40</h3>
            <h3>Hot Dog $40</h3>
            <p>Jitomate, cebolla, chile, mayonesa, cátsup, mostaza, aguacate.</p>
            <h3 style="background-color: red;">Alitas (6pzs) $70</h3>
        </div>
        <div class="alitometro">
            <div class="color">
                <div class="picor1q">Macha Morita</div>
                <div class="picor2q">Diabla</div>
                <div class="picor3q">Infierno</div>
                <div class="picor4q">Cajun</div>
                <div class="picor5q">Red Hot</div>
                <div class="picor6q">Tamarindo Chipotle</div>
                <div class="picor7q">Mango Habanero</div>
                <div class="picor8q">Super Spyce</div>
                <div class="picor9q">Blue Morita</div>
                <div class="picor10q">Hawaiana</div>
                <div class="picor11q">BBQ</div>
                <div class="picor12q">Lemmon Peper</div>
            </div>
            <div class="descripcion"></div>
        </div>
    </body>
</html>
