<!DOCTYPE html>
<html lang="en">
    <head>
        <title>La cabaña</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
	    <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-SEMNLVY53E"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-SEMNLVY53E');
        </script>
    </head>
    
    <body class="bod">
        <div class="logo"><img src="{% static 'images/lacabanaft/logo.svg' %}" alt=""></div>
        <div class="logo"><img src="{% static 'images/lacabanaft/menu2cutted.jpg' %}" alt=""></div>
        <div class="title">Antojitos mexicanos</div>
        <div>
            <table>
                <tr>
                    <th class=""></th>
                    <th class=""></th>
                    <th class=""></th>
                    <th>Para llevar</th>
                </tr>
                <tr>
                    <td >Enchiladas</td>
                    <td ></td>
                    <td >$80</td>
                    <td >$85</td>
                </tr>
                <tr>
                    <td >Flautas de res</td>
                    <td ></td>
                    <td >$80</td>
                    <td >$85</td>
                </tr>
                <tr>
                    <td >Flautas de pollo</td>
                    <td ></td>
                    <td >$80</td>
                    <td >$85</td>
                </tr>
                <tr>
                    <td >Pozole</td>
                    <td ></td>
                    <td >$90</td>
                    <td >$95</td>
                </tr>
                <tr>
                    <td >Tacos de cochinita</td>
                    <td ></td>
                    <td >$90</td>
                    <td >$95</td>
                </tr>
            </table>
            <div class="cafeteria">
            <div class="ingredientes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4 piezas acompañado con lechuga, queso, crema, zanahorias curtidas, cebollitas moradas
            </div></div>
            <table>
                <tr>
                    <td >Tostadas de cochinita</td>
                    <td ></td>
                    <td >$90</td>
                    <td >$95</td>
                    

                </tr>
            </table>
            <div class="cafeteria">
                <div class="ingredientes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4 piezas acompañado con cebollitas moradas y zanahorias curtidas
                </div></div>
        </div>
    </body>
</html>
