<!DOCTYPE html>
<html lang="en">
    <head>
        <title>La cabaña</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
	    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    
    <body class="bod">
        <div class="logo"><img src="{% static 'images/lacabanaft/logo.svg' %}" alt=""></div>
        <div class="logo"><img src="{% static 'images/lacabanaft/menu3cutted.jpg' %}" alt=""></div>
        <div class="title">De la Cafetería</div>
        <div class="cafeteria">
            <div class="title">Crepas</div>
            <table>
                <tr>
                    <td >Crepas</td>
                    <td ></td>
                    <td >$50</td>
                </tr>
                <tr>
                    <td >Ingrediente Extra</td>
                    <td ></td>
                    <td >$10</td>
                </tr>
            </table>
            <div class="ingredientes">Chocolate / Zarzamora / Frutos Rojos / Chabacano / Lechera / Fresa / Cajeta / Nutella / Piña / Queso Philadelphia <span>Ingredientes a base de mermelada</span></div>
            <div class="title">Frappes a base de leche</div>
            <table>
                <tr>
                    <td >Oreo</td>
                    <td ></td>
                    <td >$70</td>
                </tr>
                <tr>
                    <td >Chai</td>
                    <td ></td>
                    <td >$70</td>
                </tr>
                <tr>
                    <td >Capuchino</td>
                    <td ></td>
                    <td >$70</td>
                </tr>
                <tr>
                    <td >Moka</td>
                    <td ></td>
                    <td >$70</td>
                </tr>
                <tr>
                    <td >Yogurt</td>
                    <td ></td>
                    <td >$70</td>
                </tr>
            </table>
            <div class="title">Frappes a base de agua</div>
            <table>
                <tr>
                    <td >Limón</td>
                    <td ></td>
                    <td >$70</td>
                </tr>
                <tr>
                    <td >Mango</td>
                    <td ></td>
                    <td >$60</td>
                </tr>
                <tr>
                    <td >Fresa</td>
                    <td ></td>
                    <td >$60</td>
                </tr>
                <tr>
                    <td >Mora</td>
                    <td ></td>
                    <td >$60</td>
                </tr>
                <tr>
                    <td >Maracuyá</td>
                    <td ></td>
                    <td >$60</td>
                </tr>
            </table>
            <div class="title">Capuchino</div>
            <table>
                <tr>
                    <td >Clásico</td>
                    <td ></td>
                    <td >$50</td>
                </tr>
                <tr>
                    <td >Irlandes</td>
                    <td ></td>
                    <td >$55</td>
                </tr>
                <tr>
                    <td >Almendras</td>
                    <td ></td>
                    <td >$55</td>
                </tr>
                <tr>
                    <td >Caramelo</td>
                    <td ></td>
                    <td >$55</td>
                </tr>
                <tr>
                    <td >Menta</td>
                    <td ></td>
                    <td >$55</td>
                </tr>
                <tr>
                    <td >Vainilla</td>
                    <td ></td>
                    <td >$55</td>
                </tr>
                <tr>
                    <td >Amaranto</td>
                    <td ></td>
                    <td >$55</td>
                </tr>
                <tr>
                    <td >Te Chai</td>
                    <td ></td>
                    <td >$55</td>
                </tr>
            </table>
            <div class="title">Bebidas Calientes</div>
             <table>
                <tr>
                    <td >Café americano</td>
                    <td ></td>
                    <td >$30</td>
                </tr>
                <tr>
                    <td >Lechero</td>
                    <td ></td>
                    <td >$45</td>
                </tr>
                <tr>
                    <td >Latte</td>
                    <td ></td>
                    <td >$40</td>
                </tr>
                <tr>
                    <td >Chocolate</td>
                    <td ></td>
                    <td >$40</td>
                </tr>
                <tr>
                    <td >Expresso</td>
                    <td ></td>
                    <td >$40</td>
                </tr>
            </table>   
        </div>
    </body>
</html>
