<!DOCTYPE html>
<html lang="en">
    <head>
        <title>La cabaña</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
	    <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-SEMNLVY53E"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-SEMNLVY53E');
        </script>
    </head>
    
    <body class="bod">
        <div class="logo"><img src="{% static 'images/lacabanaft/logo.svg' %}" alt=""></div>
        <div>
            <ul>
                <li class="elemento"><a href="{% url 'lacabanaRestaurante:pizza' %}">Pizzas</a> </li>
                <li class="elemento"> <a href="{% url 'lacabanaRestaurante:antojo' %}">Antojitos mexicanos</a> </li>
                <li class="elemento"><a href="{% url 'lacabanaRestaurante:cafe' %}">De la Cafetería</a> </li>
                <li class="elemento"><a href="{% url 'lacabanaRestaurante:alitas' %}">Alitas</a> </li>
            </ul>
        </div>
    </body>
</html>
