<!DOCTYPE html>
<html lang="en">
    <head>
        <title>La cabaña</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
	    <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-SEMNLVY53E"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-SEMNLVY53E');
        </script>
    </head>
    
    <body class="bod">
        <div class="logo"><img src="{% static 'images/lacabanaft/logo.svg' %}" alt=""></div>
        <div class="logo"><img src="{% static 'images/lacabanaft/menu1cutted.jpg' %}" alt=""></div>
        <div class="title">Pizzas</div>
        <div>
            <table>
                <tr>
                    <th class=""></th>
                    <th class="">Ind</th>
                    <th class="">Fam</th>
                </tr>
                <tr>
                    <td >Peperoni</td>
                    <td >$60</td>
                    <td >$160</td>
                </tr>
                <tr>
                    <td >Hawaiana</td>
                    <td >$60</td>
                    <td >$160</td>
                </tr>
                <tr>
                    <td >Cochinita</td>
                    <td >$70</td>
                    <td >$180</td>
                </tr>
                <tr>
                    <td >Pastor</td>
                    <td >$70</td>
                    <td >$180</td>
                </tr>
                <tr>
                    <td >Arrachera</td>
                    <td >$95</td>
                    <td >$200</td>
                </tr>
            </table>
        </div>
    </body>
</html>
