.post-content {
  background: none repeat scroll 0 0 #ffffff;
  opacity: 0.5;
  margin: -54px 20px 12px;
  position: relative;
}

body {
  font-size: 1em;
}

.header-margin {
  background-color: #212529;
  margin: 1em 0;
}

.header-home {
  font-size: 0.9em;
  color: black;
  margin: 1em 0 1em 0;
  padding: 1em 0;
}
.header-home .bio .title {
  background-color: black;
  color: #bbb;
}
.header-home .image {
  text-align: center;
}
.header-home .image img {
  width: 55%;
  box-shadow: 5px 5px;
}
.header-home .links a.botton {
  border-color: #04a1a1;
  background: #04a1a1;
  color: #fff;
  border-radius: 0;
  padding: 0.25rem 0.75rem;
  -webkit-filter: drop-shadow(7px 8px 0 #000);
  filter: drop-shadow(7px 8px 0 black);
  margin-top: 0.25rem;
  text-decoration: none;
}
.header-home .links a.botton:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.cards {
  margin: 2.7% 0 2.8% 0;
}

.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

footer ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #212529;
  list-style: none;
  margin: 0;
}
footer ul li {
  display: block;
  padding: 1em;
  color: white;
}
footer ul li a:link,
footer ul li a:visited,
footer ul li a:active {
  text-decoration: none;
  color: white;
}
footer ul li img {
  height: 3em;
}

.attribution {
  font-size: 0.5em;
}

@media (max-width: 600px) {
  .header-home .bio .title {
    text-align: center;
  }
}
.bod {
  background-color: black;
  font-size: 3em;
}

.logo {
  display: flex;
  justify-content: center;
}

.bod .logo img {
  width: 100%;
}

.bod ul {
  padding-left: 0px;
  list-style: none;
  text-align: center;
}
.bod ul a {
  text-decoration: none;
  color: white;
}

.bod .title {
  margin-top: 5%;
  text-align: center;
  font-size: 1.2em;
  line-height: 75%;
  color: white;
}

.elemento {
  padding: 5px 10px;
}

.elemento:hover, .elemento:active {
  background-color: gray;
}

table {
  font-size: 0.8em;
  margin-top: 20px;
  color: white;
}

table td {
  border: 6px solid transparent;
}

.cafeteria {
  font-size: 0.8em;
}

.cafeteria .title {
  margin-top: 6%;
  background-color: red;
  font-size: 0.9em;
}

.cafeteria .ingredientes {
  font-size: 0.6em;
  color: white;
}

.cafeteria .ingredientes span {
  color: #bc0606;
}

.platillo {
  color: white;
}

.platillo p {
  text-align: center;
}

.alitometro {
  font-size: 0.8em;
  text-align: center;
}

.color .picor1q {
  background-color: #8c0000;
}

.color .picor2q {
  background-color: #cb0000;
}

.color .picor3q {
  background-color: #e90202;
}

.color .picor4q {
  background-color: red;
}

.color .picor5q {
  background-color: #ff7700;
}
