body{
	font-family: Fira Code;
}

.menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #f1f1f1;
	height: 100%; /* Full height */
	//position: fixed; /* Make it stick, even on scroll */
	//overflow: auto; /* Enable scrolling if the sidenav has too much content */
	li {
		display: inline;
		float: left;
		a {
			display: block;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}
		a:hover {
			background-color: #111;
		}
	}
}

.floatless{
	clear: both;
}

.me{ 
	.izq{
		text-align: center;
		// border: 1px solid blue;
		width: 50%;
		float: left;
		.photo{
			// border: 1px solid gray;
			img{
				width:30%;
				height: 40%;	
			}
			
			margin: 0 auto;
		}
		p{
			margin: 5px 0;
			border: 1px solid gray;
		}
	}
	.der{
		float: left;
		width: 50%;
		margin: 3em 0;
		// border: 1px solid blue;
		ul{
			margin: 0 auto;
			text-align: left;
		}
	}

}
.footer{
		clear:both;
		font-size:0.8em;
		text-align: center;
		}
@media (max-width: 600px) {
		.me{
			.izq, .der{
				clear: both;
				width: 100%;
				margin: 2em 0;
				text-align: center;
			}
		}
	}

.carlos{
	font-family: Poppins;
	font-size: 180px;
}

// import home file
@import 'home.scss';
