body{
	font-size: 16px;
	line-height: 1.2;
}
.container_nav{
	background: url("/static/images/back_images_mobile.png");
	background-size:cover;
	.menu{
		padding: 35px 0 85px 0;
		background-color: none;
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%; /* Full height */
			//position: fixed; /* Make it stick, even on scroll */
			//overflow: auto; /* Enable scrolling if the sidenav has too much content */
			li {	
				a {
					font-size: 1.8em;
					font-weight: bold;
					text-align: left;
					display: block;
					padding: 0 20px;
					text-decoration: none;
					color:white;
				}
				a:hover {
					background-color: #111;
				}
			}
		}	
	}

}

.floatless{
	clear: both;
}
@media only screen and (min-width: 600px){
	.menu ul{
		li {
			display: inline;
			float: left;
		}
	}
	.floatless{
		clear: both;
	}
	
}



.me{ 
	.izq{
		text-align: center;
		// border: 1px solid blue;
		width: 50%;
		float: left;
		.photo{
			// border: 1px solid gray;
			img{
				width:30%;
				height: 40%;	
			}
			
			margin: 0 auto;
		}
		p{
			margin: 5px 0;
			border: 1px solid gray;
		}
	}
	.der{
		float: left;
		width: 50%;
		margin: 3em 0;
		// border: 1px solid blue;
		ul{
			margin: 0 auto;
			text-align: left;
		}
	}

}
.footer{
		clear:both;
		font-size:0.8em;
		text-align: center;
		}
@media (max-width: 600px) {
		.me{
			.izq, .der{
				clear: both;
				width: 100%;
				margin: 2em 0;
				text-align: center;
			}
		}
	}

.carlos{
	font-family: Poppins;
	font-size: 180px;
}

// import home file
@import 'home.scss';
