@import url("https://fonts.googleapis.com/css?family=Bangers|Bungee+Outline|Bungee+Shade|Chango|Codystar|Della+Respira|Dr+Sugiyama|Emblema+One|Fascinate+Inline|Faster+One|Fontdiner+Swanky|Molle:400i|Mrs+Sheppards|Plaster|Shrikhand|Slackey&display=swap");
body {
  font-family: Fira Code;
}

.me .izq {
  text-align: center;
  width: 50%;
  float: left;
}
.me .izq .photo {
  margin: 0 auto;
}
.me .izq .photo img {
  width: 30%;
  height: 40%;
}
.me .izq p {
  margin: 5px 0;
  border: 1px solid gray;
}
.me .der {
  float: left;
  width: 50%;
  margin: 3em 0;
}
.me .der ul {
  margin: 0 auto;
  text-align: left;
}

.footer {
  clear: both;
  font-size: 0.8em;
  text-align: center;
}

@media (max-width: 600px) {
  .me .izq, .me .der {
    clear: both;
    width: 100%;
    margin: 2em 0;
    text-align: center;
  }
}
.carlos {
  font-family: Poppins;
  font-size: 180px;
}

* {
  box-sizing: border-box;
}

/* ---- grid ---- */
.grid {
  background: #EEE;
  max-width: 100%;
}

#logo {
  font-family: "Bungee Shade", cursive;
}

/* clearfix */
/* ---- grid-item ---- */
img {
  width: 100%;
}

.grid-sizer,
.grid-item {
  width: 24%;
}

.grid-item {
  float: left;
  background: #28A745;
  border: 2px solid #333;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 10px;
}
.grid-item a {
  text-decoration: none;
  color: #212529;
}

.grid-item--width2 {
  width: 74%;
  background: #28A745;
}

.grid-item--height2 {
  height: auto;
}

.grid-item--height3 {
  height: auto;
  color: gray;
}

.grid-item--height4 {
  height: 360px;
}

.grid-item--width3 {
  height: 120px;
}

.title, .intro {
  text-align: justify;
  padding: 25px;
  height: auto;
}

.title p {
  font-size: 1.5em;
}

.title {
  background: #027368;
}

.intro {
  background: #5377A6;
}

.grid {
  opacity: 1;
}
.grid #Plaster {
  font-family: "Plaster", cursive;
  background: #5377A6;
}
.grid #Chango {
  font-family: "Plaster", cursive;
  background: #024873;
}
.grid #Della {
  font-family: "Della Respira", serif;
  background: #024873;
}
.grid #Mrs {
  font-family: "Mrs Sheppards", cursive;
  background: #027368;
}
.grid #Dr {
  font-family: "Plaster", cursive;
  background: #0D0D0D;
  color: gray;
}
.grid #Molle {
  font-family: "Plaster", cursive;
  background: #5377A6;
}
.grid #Bungee {
  font-family: "Bungee Outline", cursive;
  background: #024873;
}
.grid #Emblma {
  font-family: "Emblema One", cursive;
  background: #025959;
}
.grid #Bangers {
  font-family: "Bangers", cursive;
  background: #027368;
}
.grid #Shrikhand {
  font-family: "Plaster", cursive;
  background: #0D0D0D;
  color: gray;
}
.grid #Faster {
  font-family: "Faster One", cursive;
  background: #5377A6;
}
.grid #BungeeS {
  font-family: "Bungee Shade", cursive;
  background: #027368;
}
.grid #Codystar {
  font-family: "Codystar", cursive;
  background: #025959;
}
.grid #Fontdiner {
  font-family: "Plaster", cursive;
  background: #027368;
}
.grid #Slackey {
  font-family: "Slackey", cursive;
  background: #0D0D0D;
}
.grid #Fascinate {
  font-family: "Fascinate Inline", cursive;
  background: #5377A6;
}

@media (max-width: 700px) {
  .grid-sizer,
.grid-item {
    width: 30%;
  }

  .grid-item--width2 {
    width: 100%;
  }
}

/*# sourceMappingURL=base.css.map */
