.post-content {
    background: none repeat scroll 0 0 #FFFFFF;
    opacity: 0.5;
    margin: -54px 20px 12px; 
    position: relative;

}

body{
    font-family: Roboto;
    font-size: 1em;
}

.header-home{
    // background-color:#000DA5;
    background-color:white;
    border-radius: 0.3em;
    font-size:1.2em;
    text-align:justify;
    color: black;
    font-family: 'Source Code Pro', monospace;
    margin:1em 0 1em 0;
    .bio{
    
    }
    .image{
        text-align:center;
    }
}

