@import url('https://fonts.googleapis.com/css?family=Bangers|Bungee+Outline|Bungee+Shade|Chango|Codystar|Della+Respira|Dr+Sugiyama|Emblema+One|Fascinate+Inline|Faster+One|Fontdiner+Swanky|Molle:400i|Mrs+Sheppards|Plaster|Shrikhand|Slackey&display=swap');
* { box-sizing: border-box; }

// body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #EEE;
  max-width: 100%;
}
.container{
}

#logo{font-family: 'Bungee Shade', cursive;}

/* clearfix */
// .grid:after {
//   content: '';
//   display: block;
//   clear: both;
// }

/* ---- grid-item ---- */
img{
  width: 100%;
}
.grid-sizer,
.grid-item{
  width: 24%;
}

.grid-item {
  height: 120px;
  float: left;
  background: #28A745;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin-bottom: 10px;
  a {
    text-decoration: none;
    color: #212529;
  }
}

.grid-item--width2 { width:  74%;  background: #28A745;}

.grid-item--height2 { height: auto; }
.grid-item--height3 { height: auto; }
.grid-item--height4 { height: 360px; }

.title, .intro{
  text-align: justify;
  padding: 25px;
  height: auto;
}

.title p{
  font-size: 1.5em;
}
.title{
  background: #027368;
}
.intro{
  background:#5377A6;
}
#Plaster{font-family: 'Plaster', cursive;background: #5377A6;}
#Chango{font-family: 'Plaster', cursive;background: #024873;}
#Della{font-family: 'Della Respira', serif;background: #024873;}
#Mrs{font-family: 'Mrs Sheppards', cursive;background: #027368;}
#Dr{font-family: 'Plaster', cursive;background: #0D0D0D; color:white;}
#Molle{font-family: 'Plaster', cursive;background: #5377A6;}
#Bungee{font-family: 'Bungee Outline', cursive;background: #024873;}
#Emblma{font-family: 'Emblema One', cursive;background: #025959;}
#Bangers{font-family: 'Bangers', cursive;background: #027368;}
#Shrikhand{font-family: 'Plaster', cursive;background: #0D0D0D; color:white;}
#Faster{font-family: 'Faster One', cursive;background: #5377A6;}
#BungeeS{font-family: 'Bungee Shade', cursive;background: #027368;}
#Codystar{font-family: 'Codystar', cursive;background: #025959;}
#Fontdiner{font-family: 'Plaster', cursive;background: #027368;}
#Slackey{font-family: 'Slackey', cursive;background: #0D0D0D;}
#Fascinate{font-family: 'Fascinate Inline', cursive;background: #5377A6;}

@media (max-width: 700px) {
  .grid-sizer,
  .grid-item{
    width: 30%;
  }
  .grid-item--width2 { width:  100%;}
}