{% extends 'skeleton/base.html' %}

{% block title %}Create A New Blog Category!{% endblock title %}

{% block content %}
{% load static %}
{% if user.is_authenticated %}
<div class="container py-4">
	<h1 class="mb-3">Nueva categoría</h1>
	<div class="card">
		<div class="card-body">
			<form action="" method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button class="btn btn-primary" type="submit">Guardar categoría</button>
				<a class="btn btn-link" href="{% url 'blog:index' %}">Cancelar</a>
			</form>
		</div>
	</div>
</div>
{% else %}

You're not allowed here !! (and you know it...)

{% endif %}

{% endblock content %}
