{% extends 'skeleton/base.html' %}

{% block title %}Create A New Blog Post!{% endblock title %}

{% block content %}
{% load static %}
{% if user.is_authenticated %}
<div class="container py-4">
	<h1 class="mb-3">Nuevo post</h1>
	<p class="text-muted">Publica contenido relevante de tecnología.</p>
	<div class="card">
		<div class="card-body">
			<form action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.media }}
				{{ form.as_p }}
				<button class="btn btn-primary" type="submit">Publicar</button>
				<a class="btn btn-link" href="{% url 'blog:index' %}">Cancelar</a>
			</form>
		</div>
	</div>
</div>
{% else %}

You're not allowed here !! (and you know it...)

{% endif %}

{% endblock content %}
