{% extends 'skeleton/base.html' %}

{% block title %}{{post.slug}}{% endblock title %}

{% block content %}
{% load static %}
<br>
<h2>{{post.title}} </h2>
<small>
    by: {{ post.author.first_name}} {{post.author.last_name}} - {{post.post_date}}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            - <a href="{% url 'blog:update_post' post.id %}">(Edit)</a> 
            - <a href="{% url 'blog:delete_post' post.pk %}">(Delete)</a>
        {% endif %}
    {% endif %}
</small>
<hr>
<br>
{% if post.header_image %}
<img src="{{post.header_image.url}}" alt="">
{% endif %}
{{post.content|safe}}
<br>
<hr>
<br>
<form action="{% url 'blog:like_post' post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
    {% if liked %}
    <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-danger btn-sm">Unlike</button> 
    {% else %}
    <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-primary btn-sm">Like</button>
    {% endif %}
    {% else %}
    <small><a href="{% url 'login' %}"> Login</a> to likes</small>
    {% endif %}
    - {{total_likes}} likes
</form>
<br>


<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2">
        {% if post.author.profile.profile_pic %}
            <img src="{{ post.author.profile.profile_pic.url }}" class="card-img" >
        {% else %}
            <img src=" {% static 'images/profile/default_profile.png' %}" class="card-img">
        {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{ post.author.first_name}} {{post.author.last_name}}</h5>
          <p class="small text-muted">
            <a href="{% url 'members:show_profile_page' post.author.profile.id %}">Profile Page</a>
            {% if post.author.profile.website_url %}
                | <a href="{{post.author.profile.website_url}}" target="blank">Wedsite</a>
            {% endif %}
            {% if post.author.profile.facebook_url %}
                | <a href="{{post.author.profile.facebook_url}}" target="blank">Facebook</a>
            {% endif %}
            {% if post.author.profile.twitter_url %}
                | <a href="{{post.author.profile.twitter_url}}" target="blank">Twitter </a>
            {% endif %}
            {% if post.author.profile.instagram_url %}
                | <a href="{{post.author.profile.instagram_url}}" target="blank">Instagram</a>
            {% endif %}
            {% if post.author.profile.pinterest_url %}
                | <a href="{{post.author.profile.pinterest_url}}" target="blank">Pinterest</a>
            {% endif %}
          </p>
          <p class="card-text">{{ post.author.profile.bio }}</p>
        </div>
      </div>
    </div>
  </div>
<br><br>
  <h2>Comments...</h2>
<br>
{% if not post.comments.all %}
  No comments yet... <a href="{% url 'blog:add_comment' post.pk %}">Add Comment</a><br><br>
{% else %}
<a href="{% url 'blog:add_comment' post.pk %}">Add Comment</a><br><br>
  {%for comment in post.comments.all %}
  <strong>
    {{ comment.name }} - 
    {{ comment.date_added}}
  </strong>
  <br>
  {{ comment.body }}
  <br><br>  
  {% endfor %}
  <br>
<a href="{% url 'blog:add_comment' post.pk %}">Add Comment</a><br><br>
<br><br>  
{% endif %}


{% endblock content %}