{% extends 'skeleton/base.html' %}

{% block title %}{{post.slug}}{% endblock title %}

{% block content %}
{% load static %}

<h2>{{post.title}} </h2>
<small>
    by: {{ post.author.first_name}} {{post.author.last_name}} - {{post.post_date}}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            - <a href="{% url 'blog:update_post' post.id %}">(Edit)</a> 
            - <a href="{% url 'blog:delete_post' post.pk %}">(Delete)</a>
        {% endif %}
    {% endif %}
</small>
<hr>
<br>
{{post.content|safe}}
<br><br>
<a class="btn btn-secondary" href="{% url 'blog:index' %}">Back</a>
{% endblock content %}