{% extends 'skeleton/base.html' %}

{% block title %}Blog - detail{% endblock title %}

{% block content %}
{% load static %}
<h1>Post</h1>

{% if latest_post_list %}
    <ul>
        {% for post in latest_post_list %}
            <li> <a href=" {% url 'blog:detail' post.id %} ">{{ post.title }}</a>
                - <a href="{% url 'blog:category' post.category|slugify %}">{{ post.category }}</a>
                - {{ post.author.first_name }} {{ post.author.last_name }}
                - {{ post.created_on|date:"F d, Y" }}
                <small>
                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                        - <a href="{% url 'blog:update_post' post.id %}">(Edit)</a>
                        <a href="{% url 'blog:delete_post' post.pk %}">(Delete)</a>
                        {% endif %}
                    {% endif %}

            
                </small><br>
            {{ post.content|slice:":200"|safe}}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p> No pols are available. </p>
    {% endif %}

    

{% endblock content %}