{% extends 'skeleton/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
{% load static %}
	<!-- <p>{% autoescape off %}Esto es el About me{% endautoescape %}</p> -->
	<div class="row no-gutters bg-light position-relative">
		
		
		<div class="col-md-9 position-static p-4 pl-md ">
			<h2 class="mt-2">Acerca de mi.</h2>
		  <p class="h5">Soy Ingeniero en Comunicaciones y Electrónica, interesado en el desarrollo de software. Este sitio es para  compartir conocimento, proyectos.</p>
		  <br>
		  <p class="mt-2 h5" ><b style="color:black;">Objetivo profesional:</b> Compartir el conocimiento.</5>
		  <hr>
			<p style="text-align: justify;" class="h5">Me especialicé en computación pero no dejo de lado la electrónica y las comunicaciones. <br><br> Considero que quienes nos dedicamos a la tecnología tenemos el deber de actualizarnos constantemente, leyendo artículos, libros (en su mayoría técnicos), grupos de ingeniería (redes sociales), canales de youtube, cursos online.</p>
		</div>
		<div class="col-md-3 mb-md-0 p-md-4 ">
			<img src="{% static 'images/edfabs.jpeg' %}" class="mw-100" alt="...">
	  </div>
	  <div class="row no-gutters bg-light position-relative about">
		<div class="col-md-12 p-md-4">
			<div style="text-align: center;"><h4 style="color:black;">Portafolio</h4><br></div>

			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingEigth">
					  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEigth" aria-expanded="true" aria-controls="collapseEigth">
						  e-commerce
					  </button>
					</h2>
					<div id="collapseEigth" class="accordion-collapse collapse show" aria-labelledby="headingEigth" data-bs-parent="#accordionExample">
					  <div class="accordion-body">
						  <p>Fabricantes de piezas de madera <a href="https://marowooddecor.mx/" target="_blank">Maro Wood Decore</a> </p>
					  </div>
					</div>
				  </div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingSeven">
					  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
						  Menú digital
					  </button>
					</h2>
					<div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
					  <div class="accordion-body">
						  <p>Restaurante de comida rapida <a href="/lacabanaRestaurante/"> La Cabaña Restaurante</a> </p>
					  </div>
					</div>
				  </div>
				
				  
			  </div>
		</div>
	  </div>
	</div>
{% endblock content %}