{% extends 'skeleton/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
{% load static %}
	<!-- <p>{% autoescape off %}Esto es el About me{% endautoescape %}</p> -->
	<div class="row no-gutters bg-light position-relative">
		<div class="col-md-3 mb-md-0 p-md-4 ">
		  <img src="{% static 'images/edfabs.jpeg' %}" class="mw-100" alt="...">
		</div>
		<div class="col-md-9 position-static p-4 pl-md-0">
			<br>
		  <div style="text-align:center;"><h2 class="mt-0">E. Fabian Suchett A.</h2></div>
		  <div style="text-align:center;"><h4>Ing. en Comunicaciones y Electrónica</h4></div><br>
		  <p class="font-weight-light" style="text-align: center; font-style: italic;" >"Me gustan las matemáticas y varias de sus aplicaciones como la computación y la electrónica, estoy totalmente convencido que solo compartiendo y enseñando es la mejor forma para  seguir creciendo y no caer en el estancamiento."</p>
		  
		  <p class="font-weight-light" style="text-align: justify;" style="text-align: justify;"><b>Objetivo profesional:</b> Contribuir con mis conocimientos para la resolución de problemas, propuestas, puesta en marcha de proyectos y aplicaciones de la industria.</p>
		</div>
	  </div>
	  <div class="row no-gutters bg-light position-relative">
		<div class="col-md-12 p-md-4">
		  <div style="text-align: center;"><h4>Experiencia</h4><br></div>
		  <h5 class="font-weight-bold">Agosto 2020 a la fecha</h5>
		  <p style="margin-left:1em;">Actualmente me encuentro desarrollando diversas aplicaciones web con <b>CMS Wordpress</b> y <b>Framework Django</b>.</p>
		  <p class="font-weight-bold">Enero 2018 a Julio 2020</p>
		  <p style="margin-left:1em;">Tecnico en Telelcomunicaciones</p>
		  <p class="font-weight-bold">Mayo 2016 a Diciembre 2017 </p>
		  <p style="margin-left:1em;">Desarrollador Web</p>
		  <p class="font-weight-bold">Octubre 2012 a Mayo 2016</p>
		  <p style="margin-left:1em;">Empleado Refinería de Tula</p>
		  <p class="font-weight-bold">Octubre 2011 a Octubre 2012</p>
		  <p style="margin-left:1em;">Desarrollador Web</p>
		<p class="font-weight-bold">2007 a 2012</p>
		<p style="margin-left:1em;">Cursé la carrera de <b>Ingeniería en Comunicaciones y Electrónica</b> en el <b>Instituto Politécnico Nacional (IPN)</b> en la <b>Escuela Superior de Ingeniería Mecánica y Eléctrica unidad Zacatenco (ESIME Zacatenco)</b> con la especialidad en <b>Computación</b>, especialidad donde desarrollé el gusto por todo lo que tenía que ver con la web.</p>
		</div>
	  </div>
	<div class="row">
		<div class="col">
			<P></P>
		</div>
	</div>
{% endblock content %}