{% extends 'skeleton/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
{% load static %}
	<!-- <p>{% autoescape off %}Esto es el About me{% endautoescape %}</p> -->
	<div class="row no-gutters bg-light position-relative">
		
		
		<div class="col-md-9 position-static p-4 pl-md ">
			<h2 class="mt-2">Acerca de mi.</h2>
		  <p class="h5">Soy Ingeniero en Comunicaciones y Electrónica con la especialidad en Computación. </p><br>
		  <p class="h5">Mis <b>intereses</b> son el desarrollo de software, el networking y la seguridad.</p>
		  <br>
		  <p class="mt-2 h5" ><b style="color:black;text-align: justify;">Objetivo profesional:</b> Aplicar mis conocimientos para la creación de proyectos, solución de problemas; promoviendo la inovación, el desarrollo tecnológico con la finalidad de estar a la altura de los estandares internacionales.</5>
		  <hr>
			<p style="text-align: justify;" class="h5">Considero que quienes nos dedicamos a la tecnología tenemos el deber de actualizarnos constantemente, leyendo artículos, libros (en su mayoría técnicos), grupos de ingeniería (redes sociales), canales de youtube, cursos online, etc.</p>
		</div>
		<div class="col-md-3 mb-md-0 p-md-4 ">
			<img src="{% static 'images/edfabs.jpeg' %}" class="mw-100" alt="...">
	  </div>
	  <div class="row no-gutters bg-light position-relative about">
		<div class="col-md-12 p-md-4">
			<div style="text-align: center;"><h4 style="color:black;">Portafolio</h4><br></div>

			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingNine">
					  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
						  Paginas Web
					  </button>
					</h2>
					<div id="collapseNine" class="accordion-collapse collapse show" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
					  <div class="accordion-body">
						  <p>Sitio web de liga de béisbol infaltil <a href="https://www.ligapetrolera.com.mx/" target="_blank">Liga Petrolera</a> </p>
						  <p>Este sitio web <a href="https://www.edfabs.com/" target="_blank">edfabs.com</a> </p>
					  </div>
					</div>
				  </div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingEigth">
					  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEigth" aria-expanded="false" aria-controls="collapseEigth">
						  e-commerce
					  </button>
					</h2>
					<div id="collapseEigth" class="accordion-collapse collapse" aria-labelledby="headingEigth" data-bs-parent="#accordionExample">
					  <div class="accordion-body">
						  <p>Fabricantes de piezas de madera <a href="https://marowooddecor.mx/" target="_blank">Maro Wood Decore</a> </p>
					  </div>
					</div>
				  </div>
				  <div class="accordion-item">
					<h2 class="accordion-header" id="headingCicloTula">
					  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCicloTula" aria-expanded="false" aria-controls="collapseCicloTula">
						  Instalación de CCTV en Ciclo Combinado Tula
					  </button>
					</h2>
					<div id="collapseCicloTula" class="accordion-collapse collapse" aria-labelledby="headingCicloTula" data-bs-parent="#accordionExample">
					  <div class="accordion-body">
						  <p>Proyecto de CFE, donde se instaló un Sistema de Videovigilancia IP marca Dahua</p>
					  </div>
					</div>
				  </div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingSeven">
					  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
						  Menú digital
					  </button>
					</h2>
					<div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
					  <div class="accordion-body">
						  <p>Restaurante de comida rapida <a href="/lacabanaRestaurante/"> La Cabaña Restaurante</a> </p>
					  </div>
					</div>
				  </div>
				
				  
			  </div>
		</div>
	  </div>
	</div>
{% endblock content %}