{% extends 'skeleton/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

<!-- <form action="/contact/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form> -->
<div class="contacto m-5">
	<p class="h2 mb-5">¿Quieres  compartirme algo?</p>
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
{% endif %}
		<form action="/contact/" method="post">
			{% csrf_token %}
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12 mb-5"><input type="text" class="form-control" placeholder="Nombre" id="id_name" name="name"></div>
				<div class="col-md-6 col-sm-12 mb-5"><input type="email" class="form-control" placeholder="E-mail" id="id_sender" name="sender"></div>
			</div>
			<div class="form-floating mb-5">
				<textarea class="form-control" id="id_mensaje" name="mensaje" style="height:100px;"></textarea>
				<label for="floatingTextarea2">Mensaje</label>
			</div>
			<script src='https://www.google.com/recaptcha/api.js'></script>
    		<div class="g-recaptcha" data-sitekey="6LfF8gwiAAAAAL5uPviCYMzuW8nVcZ8BiIG6qvHD"></div>

			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<input type="submit" value="Enviar" class="btn btn-primary">
			</div>
		</div>
		</form>
		<p class="h3 mt-5 mb-5">Encuentrame también en:</p>
		<div class="social-icons m-5">
		<a href="https://github.com/EdFabS" target="_blank"><i class="bi-github h2"></i></a>
		<a href="https://twitter.com/edfabs" target="_blank"><i class="bi-twitter h2"></i></a>
		<a href="https://www.linkedin.com/in/edfabs/" target="_blank"><i class="bi-linkedin h2"></i></a>
		<a href="https://www.reddit.com/user/edfabs" target="_blank"><i class="bi-reddit h2"></i></a>
		</div>
		&nbsp;
		&nbsp;
		&nbsp;
	</div>
{% endblock content %}