{% extends 'skeleton/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
	{% load static %}
	<!-- <p>{% autoescape off %}Esto es el Home{% endautoescape %}</p> -->
	<div class="row">
		<!-- <div class="col description">
			<div class="shadow-sm p-3 mb-5 bg-white rounded">
				<img src="{% static  'images/back_images_desktop.png' %}" class="img-fluid" alt="Responsive image">
				<div class="caption post-content">

					<h3>Robots!</h3>
					<p>Lorem ipsum dolor sit amet</p> 
 
				</div>
				<h1>Yo soy Fabian Suchett</h1>
			</div>
			<p class="bio">
				Soy ingeniero en Comunicaciones y Eléctronica, empecinado a querer desarrollar en la web, me gusta todo o relacionado con la computación la electónica.

				Este sitio es un lugar para dejar huella de lo que hecho a travez del tiempo, un compendio de cosas que me interezan y posiblemente a ti tambien.
			</p>
			
			
		</div> -->
		<div class="container header-margin">
			<div class="row header-home">
				<div class="col-md-4 col-sm-12">
					<div class="image">
						<img src="{% static 'images/fabiantrabajando.png' %}" class="mw-100" alt="Fabian Suchett">
					</div>
				</div>
				<div class="col-md-8 col-sm-12 bio">
					<p class="title">I'm Fabian Suchett</p>
					<p>
						Soy Ingeniero en Comunicaciones y Eléctronica empecinado a querer desarrollar en la web.
						<br><br>
						Este sitio es un compendio de cosas que me interesan y posiblemente a ti tambien.
					</p>
					<p class="links">
						<a class="botton" href="/about">About me</a>
						<a class="botton" target="_blank" href="https://github.com/EdFabS">Github</a>
					</p>
					
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<div class="card" >
						<img src="{% static  'images/home_code.png' %}" class="card-img-top" alt="...">
						<div class="card-body">
						  <h5 class="card-title">Comunicaciones y Electrónica</h5>
						  <p class="card-text">Lo mas interesante en términos de ingeniería; Algoritmos que se utilizan a diario, novedades en la web, conceptos básicos de redes etc.</p>
						  <p class="card-text">
							<a href="#" class="stretched-link " style="position: relative;">Arquitectura de computadoras</a>
							<a href="#" class="stretched-link " style="position: relative;">Redes de computadoras</a>
							<a href="#" class="stretched-link " style="position: relative;">Desarrollo web</a>
							<a href="#" class="stretched-link " style="position: relative;">Adquisición de datos via Internet</a>
							<a href="#" class="stretched-link " style="position: relative;">Microcontroladores</a>
							<a href="#" class="stretched-link " style="position: relative;">Circuitos útiles</a>
							<a href="#" class="stretched-link " style="position: relative;">Desarrollo web</a>
							<a href="#" class="stretched-link " style="position: relative;">Adquisición de datos vía Internet para control de sistema</a>
						  </p>
						</div>
					  </div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="card" >
						<img src="{% static  'images/home_electronica.png' %}" class="card-img-top" alt="...">
						<div class="card-body">
						  <h5 class="card-title">Web Develop</h5>
						  <p class="card-text">Mostraré lo básico de la electrónica de ahí progresivamente ahondaré en temas más interesantes.</p>
						  <p class="card-text">
							<a href="#" class="stretched-link " style="position: relative;">Microcontroladores</a>
							<a href="#" class="stretched-link " style="position: relative;">Circuitos útiles</a>
							<a href="#" class="stretched-link " style="position: relative;">Desarrollo web</a>
							<a href="#" class="stretched-link " style="position: relative;">Adquisición de datos vía Internet para control de sistema</a>
						  </p>
						</div>
					  </div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="card" >
						<img src="{% static  'images/home_control.png' %}" class="card-img-top" alt="...">
						<div class="card-body">
						  <h5 class="card-title">Emailing</h5>
						  <p class="card-text">Sin esta disciplina en la industria, sería casi imposible lograr los productos que se crean ahora en día, tanto en cantidad como calidad. Es una especialidad de lo más útil y muy visual ya que ves aplicada teorías matemáticas y fenómenos físicos estudiados y comprobados controlando un proceso.
						</p>
						  <p class="card-text">
							<a href="#" class="stretched-link " style="position: relative;">Instrumentación</a>
						  </p>
						</div>
					  </div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}