{% extends 'skeleton/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
	{% load static %}
	<!-- <p>{% autoescape off %}Esto es el Home{% endautoescape %}</p> -->
	<div class="row">
		<div class="col description">
			<br><br>
			<div class="shadow-sm p-3 mb-5 bg-white rounded"><h1>Repositorio de desarrollos, proyectos e información </h1></div>
			<p class="text-justify">
				En la actualidad la información cambia cada minuto, lo que paso en la mañana por la tarde ya es viejo. 
				La sobre exposición de información nos abruma cada vez mas, existe todo tipo de información todo tipo de bien o servicio.
			</p>
			<p class="text-justify">
				Este repositorio me ayuda a mantenerme vigente y no perder vista de mis objetivos profesionales, al mismo tiempo que contribuyo a seguir con la difusión de temas muy específicos.
			</p>
			<p class="text-justify">
				En esta web page compartiré información que es útil para personas interesadas en Ingeniería en Comunicaciones y Electrónica, especialmente en los siguientes temas:
			</p><br>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<div class="card" >
						<img src="{% static  'images/home_code.png' %}" class="card-img-top" alt="...">
						<div class="card-body">
						  <h5 class="card-title">Computación</h5>
						  <p class="card-text">Lo mas interesante en términos de ingeniería; Algoritmos que se utilizan a diario, novedades en la web, conceptos básicos de redes etc.</p>
						  <p class="card-text">
							<a href="#" class="stretched-link " style="position: relative;">Arquitectura de computadoras</a>
							<a href="#" class="stretched-link " style="position: relative;">Redes de computadoras</a>
							<a href="#" class="stretched-link " style="position: relative;">Desarrollo web</a>
							<a href="#" class="stretched-link " style="position: relative;">Adquisición de datos via Internet</a>
						  </p>
						</div>
					  </div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="card" >
						<img src="{% static  'images/home_electronica.png' %}" class="card-img-top" alt="...">
						<div class="card-body">
						  <h5 class="card-title">Electrónica</h5>
						  <p class="card-text">Mostraré lo básico de la electrónica de ahí progresivamente ahondaré en temas más interesantes.</p>
						  <p class="card-text">
							<a href="#" class="stretched-link " style="position: relative;">Microcontroladores</a>
							<a href="#" class="stretched-link " style="position: relative;">Circuitos útiles</a>
							<a href="#" class="stretched-link " style="position: relative;">Desarrollo web</a>
							<a href="#" class="stretched-link " style="position: relative;">Adquisición de datos vía Internet para control de sistema</a>
						  </p>
						</div>
					  </div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="card" >
						<img src="{% static  'images/home_control.png' %}" class="card-img-top" alt="...">
						<div class="card-body">
						  <h5 class="card-title">Control y automatización</h5>
						  <p class="card-text">Sin esta disciplina en la industria, sería casi imposible lograr los productos que se crean ahora en día, tanto en cantidad como calidad, es una especialidad de lo mas útil y visual ya que ves aplicada teorías matemáticas y fenómenos físicos estudiados y comprobados controlar un proceso.
						</p>
						  <p class="card-text">
							<a href="#" class="stretched-link " style="position: relative;">Instrumentación</a>
						  </p>
						</div>
					  </div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<div class="card" >
						<img src="{% static  'images/home_instrumentos.png' %}" class="card-img-top" alt="...">
						<div class="card-body">
						  <h5 class="card-title">Equipos en Procesos industriales (Muy, muy, muy por encima)</h5>
						  <p class="card-text">Aclaro que muy por encima ya que no es mi especialidad pero tratare de explicar fenómenos básicos para entender esta actividad humana tan importante para muchas naciones.</p>
						</div>
					  </div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="card" >
						<img src="{% static  'images/home_musica.png' %}" class="card-img-top" alt="...">
						<div class="card-body">
						  <h5 class="card-title">Música (un poco de Guitarras estridentes)</h5>
						  <p class="card-text">De los gustos que ms disfruto no podría explicar el placer que causa en mi un nueva canción y los sonidos de los efectos en una guitarra en union con el bajo y la batería para que se fusionen y logren cautivar a miles de escuchas. Tratare de transmitir ese sentimiento con cada post de música que comparta.</p>
						</div>
					  </div>
				</div>
			</div>
		</div><br><br>
	</div>
{% endblock content %}