{% extends 'skeleton/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
{% load static %}
	<!-- <p>{% autoescape off %}Esto es el About me{% endautoescape %}</p> -->
	<div class="row about">
		<div class="col-sm-12 col-md-6">
			<h3 >Edfab Suchett</h3>
				<div class="photo">
					<img src="{% static 'images/edfabs.jpeg' %}">
				</div>
			    <p> Ing. en Comunicaciones y Electrónica - <a href="https://www.esimez.ipn.mx/oferta-educativa-2/carreras.html" target="_blank"> Esp. Computación</a> <br> <a href="https://www.esimez.ipn.mx/" target="_blank"> Instituto Politecnico Nacional [ESIME- Zacatenco]</a></p>
		</div>
		<div class="col-sm-12 col-md-6">
			<ul>
				<li>Informacion de Contacto
				  <ul>
					<li>e-mail: <a href="mailto:fabian.suchett@edfabs.com">fabian.suchett@edfabs.com</a></li>
				  </ul>
				</li>
				<li>Investigacion
				  <ul>
					  {% load static %}
					<!-- <li><a href="{% static 'files/CVFabianSuchett.pdf' %}">CV[PDF]</a></li> -->
					<li>Publlicaciones</li>
				  </ul>
				</li>
				<li><a href="https://github.com/EdFabS" target="_blank">Proyectos[GitHub]</a>
				  <ul>
					  <li>e-mailing</li>
					<li>Agenda clínica</li>
					<li>Bonos</li>
					<li>Control de radios</li>
					<li>Conexión SAP</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<P></P>
		</div>
	</div>
{% endblock content %}