<!-- #\edfabs\templates\base.html -->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		{% block title %}
		{{ page_title|default:"Untitle page" }}
		{% endblock title %}
	</title>
</head>
<body>
	<h1>{{title}}</h1>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/articles">Articles</a></li>
		<li> <a href="/projects ">Projects</a></li>
		<li><a href="/about">About me</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
	{% block content %}
	<p>Placeholder text in base template. Replace ith page content.</p>
	{% endblock content %}
</body>
</html>