{% extends 'skeleton/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
	{% load static %}
	<!-- <p>{% autoescape off %}Esto es el Home{% endautoescape %}</p> -->
	<div class="container">
		<div class="row">
			<div class="col description">
				<p>
					Repositorio, archivero de proyectos de termas importantes relacionados con lo más relevante de la tecnología y la sociedad. Esto con el objetivo de mantenernos vigentes.
				</p>
			</div>
		</div>
		<div class="row footer">
			<div class="col-sm-12 col-md-6">Fabian Suchett - Developer</div>
			<div class="col-sm-12 col-md-6">fabian.suchett@edfabs.com</div>
		</div>
	</div>
{% endblock content %}