{% extends 'asambleas/base.html' %}

{% block title %}Esistentes {{ asamblea.nombre }}{% endblock title %}

{% block content %}
{% load static %}

<h1>{{ asamblea.nombre }}</h1>

<div class="circleOne">
    <h2>Trabajadores Registrados al momento:</h2>
    <div class="circle">{{num_trabajadores|length}}</div>
</div>
<div class="names-body">    
    <div class="name-grid">
        {% for trabajador in trabajadores_asistieron %}
            <div>
                {{ trabajador.nombre }}
            </div>
        {% endfor %}
    </div>
</div>
<style>
       
.circleOne{
    display: flex;
            justify-content: flex-end; /* Alinear a la izquierda */
            align-items: center; /* Centrar verticalmente */
            background-color: transparent; /* Color de fondo */
            font-family: Arial, sans-serif; /* Fuente */
            margin: 0; 
}
        .circle {
            width: 100px; /* Ancho del círculo */
            height: 100px; /* Alto del círculo */
            border-radius: 50%; /* Hacerlo circular */
            background-color: #0077ff; /* Color de fondo del círculo */
            display: flex;
            justify-content: center; /* Centrar horizontalmente */
            align-items: center; /* Centrar verticalmente */
            color: white; /* Color del texto */
            font-size: 2em; /* Tamaño de la fuente */
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
        }
        .names-body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
            margin-top: 20px;
            margin-bottom: 40px;
            overflow-y: auto; /* Permitir desplazamiento vertical */
        }

        h1 {
            margin-bottom: 20px;
        }

        .name-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Crear columnas responsivas */
            gap: 5px; /* Espacio entre los elementos */
            max-width: 1200px; /* Ancho máximo de la cuadrícula */
            width: 100%; /* Ancho completo */
            padding: 5px; /* Espaciado interno */
        }

        .name-grid div {
            padding: 5px; /* Espaciado interno */
            font-size: 0.6em; /* Tamaño de fuente */
            color: #333; /* Color del texto */
            transition: color 0.3s, background-color 0.3s; /* Transiciones suaves */
            cursor: pointer; /* Cambiar cursor al pasar el mouse */
            border-radius: 4px; /* Bordes redondeados */
        }

        .name-grid div:hover {
            color: #0077ff; /* Cambiar color del texto al pasar el mouse */
            background-color: #e0e0e0; /* Cambiar color de fondo al pasar el mouse */
        }
</style>
{% endblock content %}